# Files intentionally not tracked by Git.
# This file is in the public domain.
*.a
*.asc
*.diff
*.i
*.o
*.orig
*.patch
*.rej
*.tar
*.tar.*
*.txt
*.tzs
*.zi
*~
ChangeLog
check_*
date
leapseconds
tzselect
version
version.h
yearistype
zdump
zic
# global-tz additions
*.class
*.log
/bin/
/target/
/temp/
/global/
/iana/
/.project
/.settings/
/.classpath
